body {
  height: 100vh;
}
h1 {
  text-align: center;
  align-items: center;
  background-color: #bce1ea;
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 2%;
  font-family: "Playfair Display", serif;
  border-bottom: solid black 2px;
}
.header {
  max-height: 100vh;
}
#cityInput {
  max-width: 55%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding: 8px;
}
.searchForCity {
  height: 100vh;
  margin-left: 2%;
  margin-top: 2%;
}

.citySearchH2Container {
  display: flex;
  justify-content: inline;
  max-width: 50%;
  height: 1000px;
}

.container1 {
  max-width: 50%;
  margin-top: 2%;
  
}

.button {
  list-style: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 2%;
  padding: 8px;
  cursor: pointer;
  max-width: 55%;
}

.button:hover {
  background-color: #ddd;
  border: solid .25px black;
}

.today {
  margin-top: 3%;
  position: absolute;
  display: block;
  left: 37%;
  top: 11%;
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  padding: 1%;
  line-height: 1.5;
  border: solid black 2px;
  max-width: 20%;
  margin-bottom: 3%;
  border-radius: 5px;
  font-weight: 100;
}

.col-md-6 {
  max-width: 40%;
}

.container1 {
  max-width: 50%;
  
}

.weatherForecast {
  margin-top: 9%;
}

.rows {
  display: flex;
  margin-top: 15%;
}
.col-sm {
  border: solid black 2px;
  background-color: #bce1ea;
  color: black;
  margin: 1%;
  padding: 1%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
  border-radius: 5px;
  margin-top: 10%;
  position: relative;
  left: 70%;
  top: -200%;
  
}
